@model string 

<div style="display: flex; justify-content: center;">

    @Model
    <i style="margin-left:10px; font-size: 24px; color: rgb(23, 23, 65); font-weight: 900; cursor: pointer;" class="fas fa-plus-square" id="plusButton"></i>
</div>