
@{

    ViewData["Title"] = "Müraciət forması";
}

<div class="page_content total_page">
		<div class="static_page_header">
      <h3>Müraciət forması</h3>

    </div>

    <div class="form_steps">
      <div class="step fill">
        <div class="num">
          <span>01</span>
        </div>
        <p>Haqqınızda məlumat</p>
        <a href="#"></a>
      </div>
      <div class="step">
        <div class="num">
          <span>02</span>
        </div>
        <p>Təhsil</p>
        <a href="#"></a>
      </div>
      <div class="step">
        <div class="num">
          <span>03</span>
        </div>
        <p>İş təcrübəsi</p>
        <a href="#"></a>
      </div>
      <div class="step">
        <div class="num">
          <span>04</span>
        </div>
        <p>Dil bilikləri</p>
        <a href="#"></a>
      </div>
      <div class="step">
        <div class="num">
          <span>05</span>
        </div>
        <p>Digər məlumatlar</p>
        <a href="#"></a>
      </div>
    </div>

		<div class="white_background_content static_page_content">
      <div class="career_sections">
        <section class="show_me">
          <h3>Haqqınızda məlumat</h3>
          <div class="three_input">
            <div class="input">
              <p>Ad</p>
              <input type="text" placeholder="Ad">              
            </div>
            <div class="input">
              <p>Soyad</p>
              <input type="text" placeholder="Soyad">              
            </div>
            <div class="input">
              <p>Ata adı</p>
              <input type="text" placeholder="Ata adı">              
            </div>
          </div>
          <div class="three_input">
            <div class="input">
              <p>Vətəndaşlığı</p>
              <input type="text" placeholder="Vətəndaşlığı">              
            </div>
            <div class="input">
              <p>Sürücülük vəsiqəsi</p>
              <select>
                <option value="0">Kateqoriyanı seçin</option>
                <option value="1">Kateqoriyanı 1</option>
                <option value="2">Kateqoriyanı 2</option>
              </select>            
            </div>
            <div class="input">
              <p>Doğum tarixi</p>
              <input type="text" placeholder="-- / -- / ----" class="datetimepicker date">              
            </div>
          </div>
          <div class="two_input">
            <div class="input">
              <p>Əlaqə telefonu</p>
              <div class="phone_inputs">
                <select>
                  <option value="070">070</option>
                  <option value="077">077</option>
                  <option value="050">050</option>
                  <option value="055">055</option>
                </select>
                <input type="text" placeholder="--- -- --">
              </div>
            </div>
            <div class="input">
              <p>Elektron ünvan</p>
              <input type="text" placeholder="Elektron ünvan">
            </div>
          </div>
          <div class="two_radios">
            <div>
              <p>Cinsi</p>
              <div class="radio_tabs">
                <label>
                  <input type="radio" name="radio_1" checked>
                  <span>Kişi</span>
                </label>
                <label>
                  <input type="radio" name="radio_1">
                  <span>Qadın</span>
                </label>
              </div>               
            </div>

            <div>
              <p>Ailə vəziyyəti</p>
              <div class="radio_tabs">
                <label>
                  <input type="radio" name="radio_2" checked>
                  <span>Evli</span>
                </label>
                <label>
                  <input type="radio" name="radio_2">
                  <span>Subay</span>
                </label>
              </div>               
            </div>
          </div>
          <div class="button">
            <a href="#"><span>Növbəti addım</span></a>
          </div>
        </section>
        <section class="">
          <h3>Təhsil</h3>
          <div class="skill_item">
            <div class="two_input">
              <div class="input">
                <p>Təhsil sahəsi</p>
                <select>
                  <option value="0">İqtisadiyyat və idarəetmə</option>
                  <option value="1">Tibb</option>
                  <option value="2">Hüquq</option>
                  <option value="3">Riyaziyyat və kibernetika</option>
                  <option value="4">Maliyyə və mühasibatlıq</option>
                  <option value="5">İnformasiya texnologiyaları</option>
                  <option value="6">İnsan resursları</option>
                  <option value="7">Digər</option>
                </select>
              </div>
              <div class="input">
                <p>Dərəcə</p>
                <select>
                  <option value="0">Orta təhsil</option>
                  <option value="1">Peşə-ixtisas</option>
                  <option value="2">Orta ixtisas</option>
                  <option value="3">Bakalavr</option>
                  <option value="4">Magistr</option>
                  <option value="5">Aspirantura</option>
                  <option value="6">Dissertant</option>
                  <option value="7">Doktorantura</option>
                  <option value="8">İxtisasartırma</option>
                </select>
              </div>
            </div>
            <div class="two_input">
              <div class="input">
                <p>Təhsil müəssisəsinin adı</p>
                <select>
                  <option value="0">Azərbaycan Dövlət Neft və Sənaye Universiteti</option>
                  <option value="1">Azərbaycan Dövlət Dəniz Akademiyası</option>
                  <option value="2">Azərbaycan Respuboptionkası Prezidenti yanında Dövlət İdarəçioptionk Akademiyası</option>
                  <option value="3">Azərbaycan Tibb Universiteti</option>
                  <option value="4">Azərbaycan Texniki Universiteti</option>
                  <option value="5">Azərbaycan Dövlət İqtisad Universiteti</option>
                  <option value="6">Azərbaycan Dövlət Mədəniyyət və İncəsənət Universiteti</option>
                  <option value="7">Azərbaycan Dillər Universiteti</option>
                  <option value="8">Azərbaycan Dövlət Bədən Tərbiyəsi və İdman Akademiyası</option>
                  <option value="9">Azərbaycan Dövlət Aqrar Universiteti</option>
                  <option value="10">Azərbaycan Memarlıq və İnşaat Universiteti</option>
                  <option value="11">ADA Universiteti</option>
                  <option value="12">Azərbaycan Turizm və Menecment Universiteti    </option>
                  <option value="13">Azərbaycan Dövlət Rəssamlıq Akademiyası</option>
                  <option value="14">Azərbaycan Miloption Konservatoriyası</option>
                  <option value="15">Azərbaycan Texnologiya Universiteti</option>
                  <option value="16">Azərbaycan Dövlət Pedaqoji Universiteti</option>
                  <option value="17">Bakı Dövlət Universiteti</option>
                  <option value="18">Bakı Aoption Neft Məktəbi</option>
                  <option value="19">Bakı Mühəndisoptionk Universiteti</option>
                  <option value="20">Bakı Slavyan Universiteti</option>
                  <option value="21">Bakı Musiqi Akademiyası</option>
                  <option value="22">Bakı Xoreoqrafiya Akademiyası</option>
                  <option value="23">Miloption Aviasiya Akademiyası</option>
                  <option value="24">Lənkəran Dövlət Universiteti</option>
                  <option value="25">Gəncə Dövlət Universiteti</option>
                  <option value="26">Mingəçevir Dövlət Universiteti</option>
                  <option value="27">Naxçıvan Dövlət Universiteti</option>
                  <option value="28">Naxçıvan Müəloptionmlər İnstitutu</option>
                  <option value="29">Sumqayıt Dövlət Universiteti</option>
                  <option value="30">M.V.Lomonosov adına Moskva Dövlət Universitetinin Bakı fioptionalı</option>
                  <option value="31">İ.M Seçenov adına Birinci Moskva Dövlət Tibb Universitetinin Bakı fioptionalı</option>
                  <option value="32">Heydər Əoptionyev adına Azərbaycan Aoption Hərbi Məktəbi</option>
                  <option value="33">Azərbaycan Respuboptionkası Dövlət Təhlükəsizoptionyi Xidmətinin Heydər Əoptionyev adına Akademiyası</option>
                  <option value="34">Azərbaycan Respuboptionkası Daxioption İşlər Naziroptionyi Pooptions Akademiyası</option>
                  <option value="35">Azərbaycan Respuboptionkası Dövlət Sərhəd Xidməti Akademiyası</option>
                  <option value="36">Azərbaycan Respuboptionkası Fövqəladə Hallar Naziroptionyinin Akademiyası</option>
                  <option value="37">Azərbaycan Respuboptionkası DİN Daxioption Qoşunlarının Aoption Hərbi Məktəbi</option>
                  <option value="38">Azərbaycan Respuboptionkası Dövlət Gömrük Komitəsinin Akademiyası</option>
                  <option value="39">"Qərb" Universiteti</option>
                  <option value="40">Bakı Biznes Universiteti</option>
                  <option value="41">"Azərbaycan" Universiteti</option>
                  <option value="42">"Xəzər" Universiteti</option>
                  <option value="43">Bakı Avrasiya Universiteti</option>
                  <option value="44">Bakı Qızlar Universiteti</option>
                  <option value="45">Azərbaycan Kooperasiya Universiteti</option>
                  <option value="46">"Naxçıvan" Universiteti</option>
                  <option value="47">Azərbaycan Əmək və Sosial Münasibətlər Akademiyası </option>
                  <option value="48">Bakı İslam Universiteti </option>
                  <option value="49">Digər</option>
                  <option value="50">Azərbaycan Universiteti</option>
                </select>
              </div>
              <div class="input">
                <p>Başlama tarixi</p>
                <select>
                  <option value="1970">1950</option>
                  <option value="1970">1951</option>
                  <option value="1970">1952</option>
                  <option value="1970">1953</option>
                  <option value="1970">1954</option>
                  <option value="1970">1955</option>
                  <option value="1970">1956</option>
                  <option value="1970">1957</option>
                  <option value="1970">1958</option>
                  <option value="1970">1959</option>
                  <option value="1970">1960</option>
                  <option value="1970">1961</option>
                  <option value="1970">1962</option>
                  <option value="1970">1963</option>
                  <option value="1970">1964</option>
                  <option value="1970">1965</option>
                  <option value="1970">1966</option>
                  <option value="1970">1967</option>
                  <option value="1970">1968</option>
                  <option value="1970">1969</option>
                  <option value="1970">1970</option>
                  <option value="1970">1971</option>
                  <option value="1970">1972</option>
                  <option value="1970">1973</option>
                  <option value="1970">1974</option>
                  <option value="1970">1975</option>
                  <option value="1970">1976</option>
                  <option value="1970">1977</option>
                  <option value="1970">1978</option>
                  <option value="1970">1979</option>
                  <option value="1970">1980</option>
                  <option value="1970">1981</option>
                  <option value="1970">1982</option>
                  <option value="1970">1983</option>
                  <option value="1970">1984</option>
                  <option value="1970">1985</option>
                  <option value="1970">1986</option>
                  <option value="1970">1987</option>
                  <option value="1970">1988</option>
                  <option value="1970">1989</option>
                  <option value="1970">1990</option>
                  <option value="1970">1991</option>
                  <option value="1970">1992</option>
                  <option value="1970">1993</option>
                  <option value="1970">1994</option>
                  <option value="1970">1995</option>
                  <option value="1970">1996</option>
                  <option value="1970">1997</option>
                  <option value="1970">1998</option>
                  <option value="1970">1999</option>
                  <option value="1970">2000</option>
                  <option value="1970">2001</option>
                  <option value="1970">2002</option>
                  <option value="1970">2003</option>
                  <option value="1970">2004</option>
                  <option value="1970">2005</option>
                  <option value="1970">2006</option>
                  <option value="1970">2007</option>
                  <option value="1970">2008</option>
                  <option value="1970">2009</option>
                  <option value="1970">2010</option>
                  <option value="1970">2011</option>
                  <option value="1970">2012</option>
                  <option value="1970">2013</option>
                  <option value="1970">2014</option>
                  <option value="1970">2015</option>
                  <option value="1970">2016</option>
                  <option value="1970">2017</option>
                  <option value="1970">2018</option>
                  <option value="1970">2019</option>
                  <option value="1970">2020</option>
                  <option value="1970">2021</option>
                </select>
              </div>
            </div>
            <div class="two_input">
              <div class="input">
                <p>Ixtisas</p>
                <select>
                  <option value="0">Aqrobiznes və idarəetmə</option>
                  <option value="0">Avtomatika və idarəetmə</option>
                  <option value="0">Avtomobil nəqoptionyyatının təşkioption və iqtisadiyyatı</option>
                  <option value="0">Avtomobillər və avtomobil təsərrüfatı</option>
                  <option value="0">Beynəlxalq hüquq</option>
                  <option value="0">Beynəlxalq iqtisadi münasibətlər</option>
                  <option value="0">Beynəlxalq münasibətlər</option>
                  <option value="0">Beynəlxalq münasibətlər və iqtisadiyyat</option>
                  <option value="0">Bioloq</option>
                  <option value="0">Biznesin idarə edilməsi</option>
                  <option value="0">Biznesin idarə edilməsi (MBA)</option>
                  <option value="0">Biznesin təşkioption və idarə edilməsi</option>
                  <option value="0">Digər</option>
                  <option value="0">Dil və ədəbiyyat</option>
                  <option value="0">Dilşünaslıq</option>
                  <option value="0">Elektron texnikası</option>
                  <option value="0">Elektronika və mikro-elektronika</option>
                  <option value="0">Faydalı qazıntı yataqlarının geologiyası və kəşfiyyatı</option>
                  <option value="0">Filologiya</option>
                  <option value="0">Fizika</option>
                  <option value="0">Hüquq</option>
                  <option value="0">Hüquqşunaslıq</option>
                  <option value="0">Xarici dil</option>
                  <option value="0">Xarici dil müəloptionmoptionyi</option>
                  <option value="0">İdarəetmə</option>
                  <option value="0">İqtisadi və inzibati elmlər</option>
                  <option value="0">İqtisadiyyat</option>
                  <option value="0">İncəsənət</option>
                  <option value="0">İnformatika və hesablama texnikası</option>
                  <option value="0">İnşaat</option>
                  <option value="0">İnzibati idarəetmə</option>
                  <option value="0">İstənilən</option>
                  <option value="0">Jurnaoptionstika</option>
                  <option value="0">Kimya </option>
                  <option value="0">Kimya texnologiyası</option>
                  <option value="0">Kimya texnologiyası və biotexnologiya</option>
                  <option value="0">Kommersiya</option>
                  <option value="0">Qida məhsulların əmtəəsi</option>
                  <option value="0">Maarif</option>
                  <option value="0">Maoptionyyə</option>
                  <option value="0">Maoptionyyə işi</option>
                  <option value="0">Maoptionyyə və kredit</option>
                  <option value="0">Marketinq</option>
                  <option value="0">MBA</option>
                  <option value="0">Menecment</option>
                  <option value="0">Musiqi</option>
                  <option value="0">Müaoptioncə işi</option>
                  <option value="0">Mühasibat uçotu </option>
                  <option value="0">Mühasibat uçotu, nəzarət və T., FT</option>
                  <option value="0">Mühəndis iqtisadiyyatı və idarəetmə</option>
                  <option value="0">Mühəndis mexanik</option>
                  <option value="0">Nəqoptionyyat vasitələrinin istismarı</option>
                  <option value="0">Regionşünaslıq və BM</option>
                  <option value="0">Riyaziyyat</option>
                  <option value="0">Rus dioption və ədəbiyyat</option>
                  <option value="0">Tarix</option>
                  <option value="0">Tərcümə</option>
                  <option value="0">Tətbiqi riyaziyyat</option>
                  <option value="0">Yeyinti məhsullarının texnologiyası </option>
                </select>
              </div>
              <div class="input">
                <p>Bitirmə tarixi</p>
                <select>
                  <option value="1970">1950</option>
                  <option value="1970">1951</option>
                  <option value="1970">1952</option>
                  <option value="1970">1953</option>
                  <option value="1970">1954</option>
                  <option value="1970">1955</option>
                  <option value="1970">1956</option>
                  <option value="1970">1957</option>
                  <option value="1970">1958</option>
                  <option value="1970">1959</option>
                  <option value="1970">1960</option>
                  <option value="1970">1961</option>
                  <option value="1970">1962</option>
                  <option value="1970">1963</option>
                  <option value="1970">1964</option>
                  <option value="1970">1965</option>
                  <option value="1970">1966</option>
                  <option value="1970">1967</option>
                  <option value="1970">1968</option>
                  <option value="1970">1969</option>
                  <option value="1970">1970</option>
                  <option value="1970">1971</option>
                  <option value="1970">1972</option>
                  <option value="1970">1973</option>
                  <option value="1970">1974</option>
                  <option value="1970">1975</option>
                  <option value="1970">1976</option>
                  <option value="1970">1977</option>
                  <option value="1970">1978</option>
                  <option value="1970">1979</option>
                  <option value="1970">1980</option>
                  <option value="1970">1981</option>
                  <option value="1970">1982</option>
                  <option value="1970">1983</option>
                  <option value="1970">1984</option>
                  <option value="1970">1985</option>
                  <option value="1970">1986</option>
                  <option value="1970">1987</option>
                  <option value="1970">1988</option>
                  <option value="1970">1989</option>
                  <option value="1970">1990</option>
                  <option value="1970">1991</option>
                  <option value="1970">1992</option>
                  <option value="1970">1993</option>
                  <option value="1970">1994</option>
                  <option value="1970">1995</option>
                  <option value="1970">1996</option>
                  <option value="1970">1997</option>
                  <option value="1970">1998</option>
                  <option value="1970">1999</option>
                  <option value="1970">2000</option>
                  <option value="1970">2001</option>
                  <option value="1970">2002</option>
                  <option value="1970">2003</option>
                  <option value="1970">2004</option>
                  <option value="1970">2005</option>
                  <option value="1970">2006</option>
                  <option value="1970">2007</option>
                  <option value="1970">2008</option>
                  <option value="1970">2009</option>
                  <option value="1970">2010</option>
                  <option value="1970">2011</option>
                  <option value="1970">2012</option>
                  <option value="1970">2013</option>
                  <option value="1970">2014</option>
                  <option value="1970">2015</option>
                  <option value="1970">2016</option>
                  <option value="1970">2017</option>
                  <option value="1970">2018</option>
                  <option value="1970">2019</option>
                  <option value="1970">2020</option>
                  <option value="1970">2021</option>
                </select>
              </div>
            </div>            
          </div>
          <div class="skill_item">
            <div class="remove_button">
              <a href="#"></a>
            </div> 
            <div class="two_input">
              <div class="input">
                <p>Təhsil sahəsi</p>
                <select>
                  <option value="0">İqtisadiyyat və idarəetmə</option>
                  <option value="1">Tibb</option>
                  <option value="2">Hüquq</option>
                  <option value="3">Riyaziyyat və kibernetika</option>
                  <option value="4">Maliyyə və mühasibatlıq</option>
                  <option value="5">İnformasiya texnologiyaları</option>
                  <option value="6">İnsan resursları</option>
                  <option value="7">Digər</option>
                </select>
              </div>
              <div class="input">
                <p>Dərəcə</p>
                <select>
                  <option value="0">Orta təhsil</option>
                  <option value="1">Peşə-ixtisas</option>
                  <option value="2">Orta ixtisas</option>
                  <option value="3">Bakalavr</option>
                  <option value="4">Magistr</option>
                  <option value="5">Aspirantura</option>
                  <option value="6">Dissertant</option>
                  <option value="7">Doktorantura</option>
                  <option value="8">İxtisasartırma</option>
                </select>
              </div>
            </div>
            <div class="two_input">
              <div class="input">
                <p>Təhsil müəssisəsinin adı</p>
                <select>
                  <option value="0">Azərbaycan Dövlət Neft və Sənaye Universiteti</option>
                  <option value="1">Azərbaycan Dövlət Dəniz Akademiyası</option>
                  <option value="2">Azərbaycan Respuboptionkası Prezidenti yanında Dövlət İdarəçioptionk Akademiyası</option>
                  <option value="3">Azərbaycan Tibb Universiteti</option>
                  <option value="4">Azərbaycan Texniki Universiteti</option>
                  <option value="5">Azərbaycan Dövlət İqtisad Universiteti</option>
                  <option value="6">Azərbaycan Dövlət Mədəniyyət və İncəsənət Universiteti</option>
                  <option value="7">Azərbaycan Dillər Universiteti</option>
                  <option value="8">Azərbaycan Dövlət Bədən Tərbiyəsi və İdman Akademiyası</option>
                  <option value="9">Azərbaycan Dövlət Aqrar Universiteti</option>
                  <option value="10">Azərbaycan Memarlıq və İnşaat Universiteti</option>
                  <option value="11">ADA Universiteti</option>
                  <option value="12">Azərbaycan Turizm və Menecment Universiteti    </option>
                  <option value="13">Azərbaycan Dövlət Rəssamlıq Akademiyası</option>
                  <option value="14">Azərbaycan Miloption Konservatoriyası</option>
                  <option value="15">Azərbaycan Texnologiya Universiteti</option>
                  <option value="16">Azərbaycan Dövlət Pedaqoji Universiteti</option>
                  <option value="17">Bakı Dövlət Universiteti</option>
                  <option value="18">Bakı Aoption Neft Məktəbi</option>
                  <option value="19">Bakı Mühəndisoptionk Universiteti</option>
                  <option value="20">Bakı Slavyan Universiteti</option>
                  <option value="21">Bakı Musiqi Akademiyası</option>
                  <option value="22">Bakı Xoreoqrafiya Akademiyası</option>
                  <option value="23">Miloption Aviasiya Akademiyası</option>
                  <option value="24">Lənkəran Dövlət Universiteti</option>
                  <option value="25">Gəncə Dövlət Universiteti</option>
                  <option value="26">Mingəçevir Dövlət Universiteti</option>
                  <option value="27">Naxçıvan Dövlət Universiteti</option>
                  <option value="28">Naxçıvan Müəloptionmlər İnstitutu</option>
                  <option value="29">Sumqayıt Dövlət Universiteti</option>
                  <option value="30">M.V.Lomonosov adına Moskva Dövlət Universitetinin Bakı fioptionalı</option>
                  <option value="31">İ.M Seçenov adına Birinci Moskva Dövlət Tibb Universitetinin Bakı fioptionalı</option>
                  <option value="32">Heydər Əoptionyev adına Azərbaycan Aoption Hərbi Məktəbi</option>
                  <option value="33">Azərbaycan Respuboptionkası Dövlət Təhlükəsizoptionyi Xidmətinin Heydər Əoptionyev adına Akademiyası</option>
                  <option value="34">Azərbaycan Respuboptionkası Daxioption İşlər Naziroptionyi Pooptions Akademiyası</option>
                  <option value="35">Azərbaycan Respuboptionkası Dövlət Sərhəd Xidməti Akademiyası</option>
                  <option value="36">Azərbaycan Respuboptionkası Fövqəladə Hallar Naziroptionyinin Akademiyası</option>
                  <option value="37">Azərbaycan Respuboptionkası DİN Daxioption Qoşunlarının Aoption Hərbi Məktəbi</option>
                  <option value="38">Azərbaycan Respuboptionkası Dövlət Gömrük Komitəsinin Akademiyası</option>
                  <option value="39">"Qərb" Universiteti</option>
                  <option value="40">Bakı Biznes Universiteti</option>
                  <option value="41">"Azərbaycan" Universiteti</option>
                  <option value="42">"Xəzər" Universiteti</option>
                  <option value="43">Bakı Avrasiya Universiteti</option>
                  <option value="44">Bakı Qızlar Universiteti</option>
                  <option value="45">Azərbaycan Kooperasiya Universiteti</option>
                  <option value="46">"Naxçıvan" Universiteti</option>
                  <option value="47">Azərbaycan Əmək və Sosial Münasibətlər Akademiyası </option>
                  <option value="48">Bakı İslam Universiteti </option>
                  <option value="49">Digər</option>
                  <option value="50">Azərbaycan Universiteti</option>
                </select>
              </div>
              <div class="input">
                <p>Başlama tarixi</p>
                <select>
                  <option value="1970">1950</option>
                  <option value="1970">1951</option>
                  <option value="1970">1952</option>
                  <option value="1970">1953</option>
                  <option value="1970">1954</option>
                  <option value="1970">1955</option>
                  <option value="1970">1956</option>
                  <option value="1970">1957</option>
                  <option value="1970">1958</option>
                  <option value="1970">1959</option>
                  <option value="1970">1960</option>
                  <option value="1970">1961</option>
                  <option value="1970">1962</option>
                  <option value="1970">1963</option>
                  <option value="1970">1964</option>
                  <option value="1970">1965</option>
                  <option value="1970">1966</option>
                  <option value="1970">1967</option>
                  <option value="1970">1968</option>
                  <option value="1970">1969</option>
                  <option value="1970">1970</option>
                  <option value="1970">1971</option>
                  <option value="1970">1972</option>
                  <option value="1970">1973</option>
                  <option value="1970">1974</option>
                  <option value="1970">1975</option>
                  <option value="1970">1976</option>
                  <option value="1970">1977</option>
                  <option value="1970">1978</option>
                  <option value="1970">1979</option>
                  <option value="1970">1980</option>
                  <option value="1970">1981</option>
                  <option value="1970">1982</option>
                  <option value="1970">1983</option>
                  <option value="1970">1984</option>
                  <option value="1970">1985</option>
                  <option value="1970">1986</option>
                  <option value="1970">1987</option>
                  <option value="1970">1988</option>
                  <option value="1970">1989</option>
                  <option value="1970">1990</option>
                  <option value="1970">1991</option>
                  <option value="1970">1992</option>
                  <option value="1970">1993</option>
                  <option value="1970">1994</option>
                  <option value="1970">1995</option>
                  <option value="1970">1996</option>
                  <option value="1970">1997</option>
                  <option value="1970">1998</option>
                  <option value="1970">1999</option>
                  <option value="1970">2000</option>
                  <option value="1970">2001</option>
                  <option value="1970">2002</option>
                  <option value="1970">2003</option>
                  <option value="1970">2004</option>
                  <option value="1970">2005</option>
                  <option value="1970">2006</option>
                  <option value="1970">2007</option>
                  <option value="1970">2008</option>
                  <option value="1970">2009</option>
                  <option value="1970">2010</option>
                  <option value="1970">2011</option>
                  <option value="1970">2012</option>
                  <option value="1970">2013</option>
                  <option value="1970">2014</option>
                  <option value="1970">2015</option>
                  <option value="1970">2016</option>
                  <option value="1970">2017</option>
                  <option value="1970">2018</option>
                  <option value="1970">2019</option>
                  <option value="1970">2020</option>
                  <option value="1970">2021</option>
                </select>
              </div>
            </div>
            <div class="two_input">
              <div class="input">
                <p>Ixtisas</p>
                <select>
                  <option value="0">Aqrobiznes və idarəetmə</option>
                  <option value="0">Avtomatika və idarəetmə</option>
                  <option value="0">Avtomobil nəqoptionyyatının təşkioption və iqtisadiyyatı</option>
                  <option value="0">Avtomobillər və avtomobil təsərrüfatı</option>
                  <option value="0">Beynəlxalq hüquq</option>
                  <option value="0">Beynəlxalq iqtisadi münasibətlər</option>
                  <option value="0">Beynəlxalq münasibətlər</option>
                  <option value="0">Beynəlxalq münasibətlər və iqtisadiyyat</option>
                  <option value="0">Bioloq</option>
                  <option value="0">Biznesin idarə edilməsi</option>
                  <option value="0">Biznesin idarə edilməsi (MBA)</option>
                  <option value="0">Biznesin təşkioption və idarə edilməsi</option>
                  <option value="0">Digər</option>
                  <option value="0">Dil və ədəbiyyat</option>
                  <option value="0">Dilşünaslıq</option>
                  <option value="0">Elektron texnikası</option>
                  <option value="0">Elektronika və mikro-elektronika</option>
                  <option value="0">Faydalı qazıntı yataqlarının geologiyası və kəşfiyyatı</option>
                  <option value="0">Filologiya</option>
                  <option value="0">Fizika</option>
                  <option value="0">Hüquq</option>
                  <option value="0">Hüquqşunaslıq</option>
                  <option value="0">Xarici dil</option>
                  <option value="0">Xarici dil müəloptionmoptionyi</option>
                  <option value="0">İdarəetmə</option>
                  <option value="0">İqtisadi və inzibati elmlər</option>
                  <option value="0">İqtisadiyyat</option>
                  <option value="0">İncəsənət</option>
                  <option value="0">İnformatika və hesablama texnikası</option>
                  <option value="0">İnşaat</option>
                  <option value="0">İnzibati idarəetmə</option>
                  <option value="0">İstənilən</option>
                  <option value="0">Jurnaoptionstika</option>
                  <option value="0">Kimya </option>
                  <option value="0">Kimya texnologiyası</option>
                  <option value="0">Kimya texnologiyası və biotexnologiya</option>
                  <option value="0">Kommersiya</option>
                  <option value="0">Qida məhsulların əmtəəsi</option>
                  <option value="0">Maarif</option>
                  <option value="0">Maoptionyyə</option>
                  <option value="0">Maoptionyyə işi</option>
                  <option value="0">Maoptionyyə və kredit</option>
                  <option value="0">Marketinq</option>
                  <option value="0">MBA</option>
                  <option value="0">Menecment</option>
                  <option value="0">Musiqi</option>
                  <option value="0">Müaoptioncə işi</option>
                  <option value="0">Mühasibat uçotu </option>
                  <option value="0">Mühasibat uçotu, nəzarət və T., FT</option>
                  <option value="0">Mühəndis iqtisadiyyatı və idarəetmə</option>
                  <option value="0">Mühəndis mexanik</option>
                  <option value="0">Nəqoptionyyat vasitələrinin istismarı</option>
                  <option value="0">Regionşünaslıq və BM</option>
                  <option value="0">Riyaziyyat</option>
                  <option value="0">Rus dioption və ədəbiyyat</option>
                  <option value="0">Tarix</option>
                  <option value="0">Tərcümə</option>
                  <option value="0">Tətbiqi riyaziyyat</option>
                  <option value="0">Yeyinti məhsullarının texnologiyası </option>
                </select>
              </div>
              <div class="input">
                <p>Bitirmə tarixi</p>
                <select>
                  <option value="1970">1950</option>
                  <option value="1970">1951</option>
                  <option value="1970">1952</option>
                  <option value="1970">1953</option>
                  <option value="1970">1954</option>
                  <option value="1970">1955</option>
                  <option value="1970">1956</option>
                  <option value="1970">1957</option>
                  <option value="1970">1958</option>
                  <option value="1970">1959</option>
                  <option value="1970">1960</option>
                  <option value="1970">1961</option>
                  <option value="1970">1962</option>
                  <option value="1970">1963</option>
                  <option value="1970">1964</option>
                  <option value="1970">1965</option>
                  <option value="1970">1966</option>
                  <option value="1970">1967</option>
                  <option value="1970">1968</option>
                  <option value="1970">1969</option>
                  <option value="1970">1970</option>
                  <option value="1970">1971</option>
                  <option value="1970">1972</option>
                  <option value="1970">1973</option>
                  <option value="1970">1974</option>
                  <option value="1970">1975</option>
                  <option value="1970">1976</option>
                  <option value="1970">1977</option>
                  <option value="1970">1978</option>
                  <option value="1970">1979</option>
                  <option value="1970">1980</option>
                  <option value="1970">1981</option>
                  <option value="1970">1982</option>
                  <option value="1970">1983</option>
                  <option value="1970">1984</option>
                  <option value="1970">1985</option>
                  <option value="1970">1986</option>
                  <option value="1970">1987</option>
                  <option value="1970">1988</option>
                  <option value="1970">1989</option>
                  <option value="1970">1990</option>
                  <option value="1970">1991</option>
                  <option value="1970">1992</option>
                  <option value="1970">1993</option>
                  <option value="1970">1994</option>
                  <option value="1970">1995</option>
                  <option value="1970">1996</option>
                  <option value="1970">1997</option>
                  <option value="1970">1998</option>
                  <option value="1970">1999</option>
                  <option value="1970">2000</option>
                  <option value="1970">2001</option>
                  <option value="1970">2002</option>
                  <option value="1970">2003</option>
                  <option value="1970">2004</option>
                  <option value="1970">2005</option>
                  <option value="1970">2006</option>
                  <option value="1970">2007</option>
                  <option value="1970">2008</option>
                  <option value="1970">2009</option>
                  <option value="1970">2010</option>
                  <option value="1970">2011</option>
                  <option value="1970">2012</option>
                  <option value="1970">2013</option>
                  <option value="1970">2014</option>
                  <option value="1970">2015</option>
                  <option value="1970">2016</option>
                  <option value="1970">2017</option>
                  <option value="1970">2018</option>
                  <option value="1970">2019</option>
                  <option value="1970">2020</option>
                  <option value="1970">2021</option>
                </select>
              </div>
            </div>  
          </div>

          <div class="add_button">
            <a href="#">Əlavə et</a>
          </div>


          <div class="button two">
            <a href="#" class="previous"><span>Əvvəlki addım</span></a>
            <a href="#"><span>Növbəti addım</span></a>
          </div>
        </section>
        <section class="">
          <h3>İş təcrübəsi</h3>
          <div class="skill_item">
            <div class="two_input">
              <div class="input">
                <p>Müəssisənin adı</p>
                <input type="text">
              </div>
              <div class="input">
                <p>İşə başlama vaxtı</p>
                <input type="text" placeholder="-- / -- / ----" class="datetimepicker date">
              </div>
            </div>
            <div class="two_input">
              <div class="input">
                <p>Vəzifə</p>
                <input type="text">
              </div>
              <div class="input">
                <p>İşdən çıxma vaxtı</p>
                <input type="text" placeholder="-- / -- / ----" class="datetimepicker date">
                <label class="single_check">
                  <input type="checkbox">
                  <em></em>
                  <span>Hal hazırda işləyirəm</span>
                </label>
              </div>
            </div>
            <div class="two_input">
              <div class="input">
                <p>Sahə</p>
                <select>
                  <option value="0">Strategiya</option>
                  <option value="0">İnvestisiya</option>
                  <option value="0">Maoptionyyə</option>
                  <option value="0">İnzibati</option>
                  <option value="0">İnsan resursları</option>
                  <option value="0">Audit</option>
                  <option value="0">İnformasiya texnologiyaları</option>
                  <option value="0">Risklərin idarəedilməsi</option>
                  <option value="0">Marketinq </option>
                  <option value="0">Hüquq</option>
                  <option value="0">Əlaqə mərkəzi</option>
                  <option value="0">Sığorta hadisələri</option>
                  <option value="0">Anderraytinq və təkrarsığorta</option>
                  <option value="0">Satış</option>
                  <option value="0">Layihələrin idarə olunması</option>
                  <option value="0">İT təhlükəsizoptionk</option>
                  <option value="0">Satınalma</option>
                  <option value="0">Qiymətləndirmə və portfel anaoptionzi</option>
                  <option value="0">Anaoptiontika</option>
                  <option value="0">Biznes proseslərin idarə olunması</option>
                  <option value="0">Müştəri xidmətləri</option>
                  <option value="0">Daxioption kommunikasiya</option>
                  <option value="0">Əməyin mühafizəsi və təhlükəsizoptionk</option>
                </select>
              </div>
              <div class="input">
                <p>İşdən çıxma səbəbi</p>
                <textarea name="" id=""></textarea>
              </div>
            </div>            
          </div>
          <div class="skill_item">
            <div class="remove_button">
              <a href="#"></a>
            </div>
            <div class="two_input">
              <div class="input">
                <p>Müəssisənin adı</p>
                <input type="text">
              </div>
              <div class="input">
                <p>İşə başlama vaxtı</p>
                <input type="text" placeholder="-- / -- / ----" class="datetimepicker date">
              </div>
            </div>
            <div class="two_input">
              <div class="input">
                <p>Vəzifə</p>
                <input type="text">
              </div>
              <div class="input">
                <p>İşdən çıxma vaxtı</p>
                <input type="text" placeholder="-- / -- / ----" class="datetimepicker date">
                <label class="single_check">
                  <input type="checkbox">
                  <em></em>
                  <span>Hal hazırda işləyirəm</span>
                </label>
              </div>
            </div>
            <div class="two_input">
              <div class="input">
                <p>Sahə</p>
                <select>
                  <option value="0">Strategiya</option>
                  <option value="0">İnvestisiya</option>
                  <option value="0">Maoptionyyə</option>
                  <option value="0">İnzibati</option>
                  <option value="0">İnsan resursları</option>
                  <option value="0">Audit</option>
                  <option value="0">İnformasiya texnologiyaları</option>
                  <option value="0">Risklərin idarəedilməsi</option>
                  <option value="0">Marketinq </option>
                  <option value="0">Hüquq</option>
                  <option value="0">Əlaqə mərkəzi</option>
                  <option value="0">Sığorta hadisələri</option>
                  <option value="0">Anderraytinq və təkrarsığorta</option>
                  <option value="0">Satış</option>
                  <option value="0">Layihələrin idarə olunması</option>
                  <option value="0">İT təhlükəsizoptionk</option>
                  <option value="0">Satınalma</option>
                  <option value="0">Qiymətləndirmə və portfel anaoptionzi</option>
                  <option value="0">Anaoptiontika</option>
                  <option value="0">Biznes proseslərin idarə olunması</option>
                  <option value="0">Müştəri xidmətləri</option>
                  <option value="0">Daxioption kommunikasiya</option>
                  <option value="0">Əməyin mühafizəsi və təhlükəsizoptionk</option>
                </select>
              </div>
              <div class="input">
                <p>İşdən çıxma səbəbi</p>
                <textarea name="" id=""></textarea>
              </div>
            </div>            
          </div>
          <div class="add_button">
            <a href="#">Əlavə et</a>
          </div>
          <div class="button two">
            <a href="#" class="previous"><span>Əvvəlki addım</span></a>
            <a href="#"><span>Növbəti addım</span></a>
          </div>
        </section>
        <section class="">
          <h3>Dil bilikləri</h3>
          <div class="skill_item">
            
            <div class="lang_knowledge">
              <h4>Azərbaycan dili</h4>
              <div class="two_sides">
                <div class="two_input">
                  <div class="input">
                    <p>Oxuma</p>
                    <select>
                      <option value="0">Seçin</option>
                      <option value="1">Zəif</option>
                      <option value="2">Orta</option>
                      <option value="3">Əla</option>
                    </select>
                  </div>
                  <div class="input">
                    <p>Yazma</p>
                    <select>
                      <option value="0">Seçin</option>
                      <option value="1">Zəif</option>
                      <option value="2">Orta</option>
                      <option value="3">Əla</option>
                    </select>
                  </div>
                </div>
                <div class="two_input">
                  <div class="input">
                    <p>Danışma</p>
                    <select>
                      <option value="0">Seçin</option>
                      <option value="1">Zəif</option>
                      <option value="2">Orta</option>
                      <option value="3">Əla</option>
                    </select>
                  </div>
                  <div class="input">
                    <p>Anlama</p>
                    <select>
                      <option value="0">Seçin</option>
                      <option value="1">Zəif</option>
                      <option value="2">Orta</option>
                      <option value="3">Əla</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>            
          </div>
          <div class="skill_item">
            
            <div class="lang_knowledge">
              <h4>Rus dili</h4>
              <div class="two_sides">
                <div class="two_input">
                  <div class="input">
                    <p>Oxuma</p>
                    <select>
                      <option value="0">Seçin</option>
                      <option value="1">Zəif</option>
                      <option value="2">Orta</option>
                      <option value="3">Əla</option>
                    </select>
                  </div>
                  <div class="input">
                    <p>Yazma</p>
                    <select>
                      <option value="0">Seçin</option>
                      <option value="1">Zəif</option>
                      <option value="2">Orta</option>
                      <option value="3">Əla</option>
                    </select>
                  </div>
                </div>
                <div class="two_input">
                  <div class="input">
                    <p>Danışma</p>
                    <select>
                      <option value="0">Seçin</option>
                      <option value="1">Zəif</option>
                      <option value="2">Orta</option>
                      <option value="3">Əla</option>
                    </select>
                  </div>
                  <div class="input">
                    <p>Anlama</p>
                    <select>
                      <option value="0">Seçin</option>
                      <option value="1">Zəif</option>
                      <option value="2">Orta</option>
                      <option value="3">Əla</option>
                    </select>
                  </div>
                </div>
              </div>
            </div> 
            <div class="remove_button">
              <a href="#"></a>
            </div>           
          </div>
          <div class="skill_item">
            
            <div class="lang_knowledge">
              <h4>İngilis dili</h4>
              <div class="two_sides">
                <div class="two_input">
                  <div class="input">
                    <p>Oxuma</p>
                    <select>
                      <option value="0">Seçin</option>
                      <option value="1">Zəif</option>
                      <option value="2">Orta</option>
                      <option value="3">Əla</option>
                    </select>
                  </div>
                  <div class="input">
                    <p>Yazma</p>
                    <select>
                      <option value="0">Seçin</option>
                      <option value="1">Zəif</option>
                      <option value="2">Orta</option>
                      <option value="3">Əla</option>
                    </select>
                  </div>
                </div>
                <div class="two_input">
                  <div class="input">
                    <p>Danışma</p>
                    <select>
                      <option value="0">Seçin</option>
                      <option value="1">Zəif</option>
                      <option value="2">Orta</option>
                      <option value="3">Əla</option>
                    </select>
                  </div>
                  <div class="input">
                    <p>Anlama</p>
                    <select>
                      <option value="0">Seçin</option>
                      <option value="1">Zəif</option>
                      <option value="2">Orta</option>
                      <option value="3">Əla</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>  
            <div class="remove_button">
              <a href="#"></a>
            </div>          
          </div>
          <div class="add_button">
            <a href="#">Əlavə et</a>
          </div>


          <div class="button two">
            <a href="#" class="previous"><span>Əvvəlki addım</span></a>
            <a href="#"><span>Növbəti addım</span></a>
          </div>
        </section>
        <section class="">
          <h3>Dil bilikləri</h3>
          <fieldset class="form_sildset">
            <legend>Kompüter bilikləri</legend>
            <div class="skill_item">
              <div class="two_input">
                <div class="input">
                  <p>Proqramın adı</p>
                  <select>
                    <option value="0">MS Office</option>
                    <option value="0">MS Excel</option>
                    <option value="0">MS Outlook</option>
                    <option value="0">MS PowerPoint</option>
                    <option value="0">MS Word</option>
                    <option value="0">HTML</option>
                    <option value="0">CSS</option>
                    <option value="0">Bootstrap</option>
                    <option value="0">Javascript</option>
                    <option value="0">Jquery</option>
                    <option value="0">AJAX</option>
                    <option value="0">MSSQL(T-SQL)</option>
                    <option value="0">SSRS</option>
                    <option value="0">PowerBI</option>
                    <option value="0">R Language</option>
                    <option value="0">MS Project</option>
                    <option value="0">Visio</option>
                    <option value="0">.Net Core Mvc</option>
                    <option value="0">Asp.Net</option>
                    <option value="0">Digər</option>
                  </select>
                </div>
                <div class="input">
                  <p>Bacarıq</p>
                  <select>
                    <option value="0">Seçin</option>
                    <option value="1">Zəif</option>
                    <option value="2">Orta</option>
                    <option value="3">Əla</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="skill_item">
              <div class="two_input">
                <div class="input">
                  <p>Proqramın adı</p>
                  <select>
                    <option value="0">MS Office</option>
                    <option value="0">MS Excel</option>
                    <option value="0">MS Outlook</option>
                    <option value="0">MS PowerPoint</option>
                    <option value="0">MS Word</option>
                    <option value="0">HTML</option>
                    <option value="0">CSS</option>
                    <option value="0">Bootstrap</option>
                    <option value="0">Javascript</option>
                    <option value="0">Jquery</option>
                    <option value="0">AJAX</option>
                    <option value="0">MSSQL(T-SQL)</option>
                    <option value="0">SSRS</option>
                    <option value="0">PowerBI</option>
                    <option value="0">R Language</option>
                    <option value="0">MS Project</option>
                    <option value="0">Visio</option>
                    <option value="0">.Net Core Mvc</option>
                    <option value="0">Asp.Net</option>
                    <option value="0">Digər</option>
                  </select>
                </div>
                <div class="input">
                  <p>Bacarıq</p>
                  <select>
                    <option value="0">Seçin</option>
                    <option value="1">Zəif</option>
                    <option value="2">Orta</option>
                    <option value="3">Əla</option>
                  </select>
                </div>
              </div>
              <div class="remove_button">
                <a href="#"></a>
              </div>
            </div>
            <div class="add_button">
              <a href="#">Əlavə et</a>
            </div>
          </fieldset>
          <fieldset class="form_sildset">
            <legend>Tələb olunan sertifikatlar</legend>
            <div class="skill_item">
              <div class="input">
                <p>Sertifikat adını daxil edin</p>
                <input type="text">
              </div>
            </div>
            <div class="skill_item">
              <div class="input">
                <p>Sertifikat adını daxil edin</p>
                <input type="text">
              </div>
              <div class="remove_button">
                <a href="#"></a>
              </div>
            </div>
            <div class="add_button">
              <a href="#">Əlavə et</a>
            </div>
          </fieldset>
          <fieldset class="form_sildset">
            <legend>CV</legend>
            <div class="fule_upload">
              <p>CV yükləyin (.pdf,.doc,.docx)</p>
              <label>
                <input type="file" required>
                <span>Seç</span>
              </label>
            </div>
          </fieldset>
          <div class="input one">
            <p>Qeyd etdiyim məlumatların həqiqətə uyğun olduğunu təsdiq edirəm. Bu anketdə və yaxud işə qəbul müsabiqəsinin hər hansı mərhələsində verdiyim məlumatların dərhal və yaxud gələcəkdə həqiqətə uyğun olmadığı aşkarlanarsa mənimlə aparılan işə qəbul müsabiqəsinin dayandırılmasına və yaxud mənimlə bağlana biləcək əmək müqaviləsinə xitam verilməsinə razıyam.</p>
            <label class="single_check">
              <input type="checkbox">
              <em></em>
              <span>Razıyam</span>
            </label>
          </div>
          <div class="button two">
            <a href="#" class="previous"><span>Əvvəlki addım</span></a>
            <a href="#"><span>Müraciəti təsdiq et</span></a>
          </div>
        </section>
      </div>
    </div>

		        <footer>
        @await Component.InvokeAsync("Footer")
       </footer>

  </div>

	<div class="page_background">
    <video muted loop class="video" autoplay playsinline>
      <source src="~/video/background.mp4" type="video/mp4" />
    </video>
  </div>

	<div class="assistant_wrap">
    <div class="eye"><img src="~/images/asistent.png" /></div>
    <div class="eye_animated">
      <video autoplay="autoplay" muted="muted" loop="loop" data-v-a95f347a="">
				<source src="~/video/eye.mov" type="video/mp4; codecs='hvc1'">
				<source src="~/video/eye.webm" type="video/webm">
			</video>
    </div>
  </div>

