@model Structure
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;

    @if (culture == "az")
        {
                ViewData["Title"] = "Struktur";

        }
        else if (culture == "en")
        {
                ViewData["Title"] = "Structure";
        }
        else if (culture == "ru")
        {
                ViewData["Title"] = "Структура";
        }
}

<div class="page_content total_page">
    <div class="static_page_header">
        @if (culture == "az")
        {
            <h2>Struktur</h2>

        }
        else if (culture == "en")
        {
            <h2>Structure</h2>

        }
        else if (culture == "ru")
        {
            <h2>Структура</h2>
            
        }
        @await Component.InvokeAsync("SecondMenu")

    </div>

    <div   class="white_background_content static_page_content">
        <div class="structure_content">
            <img style="width:100%;height:100%" src="~/images/@Model.Image" alt="">
        </div>
    </div>

        <footer>
        @await Component.InvokeAsync("Footer")
       </footer>

</div>




    <div class="page_background">
    <video muted loop class="video" autoplay playsinline>
        <source src="~/video/background.mp4" type="video/mp4" />
    </video>
</div>

<div class="assistant_wrap">
    <div class="eye"><img src="~/images/asistent.png" /></div>
    <div class="eye_animated">
        <video autoplay="autoplay" muted="muted" loop="loop" data-v-a95f347a="">
            <source src="~/video/eye.mov" type="video/mp4; codecs='hvc1'">
            <source src="~/video/eye.webm" type="video/webm">
        </video>
    </div>
</div>


