

@model Partner
<div class="content text-center">
    <div class="col-lg-12" style="display: inline-block">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Partnerlərə Düzəliş Et</h5>
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="margin-top: 5px; justify-content:end">
                    Go Back
                </a>
            </div>

            <div class="card-body">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group form-group-float">
                        <label asp-for="Photo" style="display: block">Şəkil</label>
                        <input type="file" asp-for="Photo" class="form-control" placeholder="Photo">
                        <span class="text-danger" asp-validation-for="@Model.Image"></span>
                    </div>
                    <button type="submit" class="btn bg-blue-800">Düzəliş et<i class="icon-ml-2"></i></button>
                </form>
            </div>
        </div>
    </div>

</div>



@section Scripts{
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/vendor/jquery/jcrop.js"></script>
    <partial name="_ValidationScriptsPartial" />
   
}


